/*
#imageTeaser1 {
	background: url(./../Images/static/home-16-9/Brabus_SC_EXT_01-2.png);
	background-size: cover;
	min-height: 640px;
	padding-top: 10%;
}

#imageTeaser1Content {
	color: #ffffff;
	text-align: right;
}

#imageTeaser1Content h3 {
	text-transform: uppercase;
	font-family: "DINNextLT-Light", sans-serif;
	font-weight: normal;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 2px;
}


#imageTeaser2 {
	background: url(./../Images/static/home-16-9/BGLEC850S003.png);
	background-size: cover;
	min-height: 640px;
	padding-top: 10%;
}

#imageTeaser2Content {
	color: #ffffff;
	text-align: right;
}

#imageTeaser2Content h3 {
	text-transform: uppercase;
	font-family: "DINNextLT-Light", sans-serif;
	font-weight: normal;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 2px;
}

*/
