[data-type="block-lab/full-medium-block"] {
    overflow: hidden;
}

[data-type="block-lab/full-medium-block"] figure {
    margin: 0;
}

[data-type="block-lab/full-medium-block"] figcaption{
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center;
    width: 100%;
}

